<launch>
  <arg name="namespace" default="" />

  <group ns="$(arg namespace)">
    <node name="drone_NBV_selector" pkg="map_frontiers" type="NBV_Selector" output="screen">
        <remap from="esdf_map_out" to="/voxblox_node/esdf_map_out" />
        <remap from="tsdf_map_out" to="/voxblox_node/tsdf_map_out" />

        <remap from="pos_goal" to="/$(arg namespace)/next_best_viewpoint" />
        <remap from="groundtruth/odom" to="/$(arg namespace)/groundtruth/odom" />
        <remap from="is_idle" to="/$(arg namespace)/mav_local_planner/is_idle" />

        <param name="voxel_size" type="double" command="rosparam get /voxel_size" />
        <param name="voxels_per_side" type="double" command="rosparam get /voxels_per_side" />

        <param name="sub_sample_size" type="int" command="rosparam get /NBV_selector/nb_of_subsampled_views" />

        <param name="timer" type="bool" command="rosparam get /NBV_selector/timer" />
        <param name="verbose" type="bool" command="rosparam get /NBV_selector/verbose" />
        <param name="extra_viz" type="bool" command="rosparam get /NBV_selector/extra_viz" />

        <param name="alpha" type="double" command="rosparam get /NBV_selector/image_component_weight" />
        <param name="beta" type="double" command="rosparam get /NBV_selector/metrics_component_weight" />
        <param name="gamma" type="bool" command="rosparam get /NBV_selector/use_distance_in_metrics_component" />
    </node>
  </group>
</launch>
